<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <style>
        input {
        font-size:25px;
        margin:5px;
        padding:10px;
        }
        a { color: inherit; }
    </style>
</head>
<body align="center" style="background-color:#FFF; margin:0px; padding:0px">
<div style="color:white; font-size:50px; padding:10px; background-color:#00796B;"> Instagram</div>
<div style="color:#00796B; font-size:25px; padding:25px;">Welcome to Instagram</div>

<div align="center" style="margin-top:50px; font-size:20px">
        <div style="border: 2px solid ; width:400px; padding:25px; background-color:white; color:#009688">
            No Post added <a href="/post/">Add a Post</a>
        </div>
</div><br>


</div>
</body>
</html>