<!DOCTYPE html>

<head>
    <title>Feed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" >
</head>

<body>
    <div id="header"> Instagram</div>
    <div id="heading1">Welcome to Instagram</div>
    <div align="center">
        <div style="border: 2px solid ; width:640px; padding: 25px 0px; background-color:white; color:#009688; font-size:30px; ">
            <a href="/post/">Add a new Post </a>
        </div>
    </div>

    <div align="center" style="margin-top:50px; font-size:20px">
        {% for post in posts %}
            <div id="form" style="width:640px; color:#00796B; padding:0px">
                <div style="font-size:35px; padding:10px;text-align:left">{{ post.user.username}} </div>
                <div style="border: 1px solid ;"></div>
                <img src="{{ post.image_url }}" width="640px">
                <div style="font-size:20px; padding:10px; text-align:left">{{ post.caption}}</div>
                <form method="POST" action="/like/" align="left">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{ post.id }}">
                    {% if post.has_liked %}
                        <input type="submit" class="button" value="Unlike">
                    {% else %}
                        <input type="submit" class="button" value="Like">
                    {% endif %}
                    <div style="display:inline-block">
                        {{ post.like_count }} likes this
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
</body>

</html>