<!DOCTYPE html>
<head>
    <title>Instagram</title>
    <style>
    #footer {
        position:absolute;
        bottom:0;
        height:20px;
        }
    input {
        margin:5px;
        padding:5px;
        font-size:25px;
    }
</style>
</head>
<body align="center">
    <h1> Instagram</h1>
    <h3>Sign up to see photos and videos from your friends.</h3>
    <form method="post">
        <input id="username" type="text" name="username" placeholder="Username" value={{ username }}><br>
        <input id="name" type="text" name="name" placeholder="Name" value={{ name }}><br>
        <input id="email" type="text" name="email" placeholder="Email" value={{ email }}><br>
        <input id="password" type="password" name="password" placeholder="Password" value={{ password }}><br>
        <input type="submit" value="Sign Up">
    </form>
    <br><br>
    <h3>Already a user?</h3><a href="login/">Login</a>
    <div id="footer">{{today}}</div>
</body>
</html>