<!DOCTYPE html>

<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" >
    <script>
        {% if message %}
            alert('{{ message }}');
        {% endif %}
    </script>
</head>

<body>
    <div id="header"> Instagram</div>
    <div id="heading1">Welcome to Instagram Log in to see photos and videos from your friends.</div>
    <div align="center" style="margin-top:50px; font-size:20px">
        <div style="border: 2px solid ; width:400px; padding:25px; background-color:white; color:#009688">
            Don't have an account? <a href="/signup/">Sign up</a>
        </div>
    </div><br>
    <div align="center">
        <form method="post" id="form">
            {% csrf_token %}
            <label style="font-size:25px; float:left; margin:20px 35px; color:#00796B" > <b>Login</b> </label>
            <input id="username" type="text" name="username" placeholder="Username" value={{ username }}><br>
            <input id="password" type="password" name="password" placeholder="Password" value={{ password }}><br>
            <input type="submit" class="button" value="Log In">
        </form><br>
    </div>
</body>

</html>