<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
        font-size:25px;
        margin:5px;
        padding:5px;
        }
    form {
        width:400px;
        padding:25px;
        border: 1px solid ;
    }
    </style>
</head>
<body align="center">
<h1>Instagram</h1>
<div align="center">
<form method="post">
    {% csrf_token %}
    <input id="username" type="text" name="username" placeholder="Username" value={{ username }}><br>
    <input id="password" type="password" name="password" placeholder="Password" value={{ password }}><br>
    <input type="submit" value="Log In">
</form>
</div>
</body>
</html>